<div class="container">
  <% @accounts.each do |account|%>
    <div class="box">
      <div class="content">
        <span class="icon is-medium is-pulled-right"
         data-controller="load-modal has-text-link"
         data-load-modal-url="<%= edit_modal_account_path(account.id)%>">
          <a class="tooltip" data-action="load-modal#open"
            data-tooltip="Buckets for the <%= account.name%> account">
            <i class="fa fa-coins fa-lg"></i>
          </a>
        </span>
        <span class="icon is-medium is-pulled-right">
          <a class="tooltip has-text-info"
            data-tooltip="List expenses of the <%= account.name%> account"
            href="<%= account_expenses_path(account) %>">
            <i class="fas fa-list-ol fa-lg"></i>
          </a>
        </span>
        <span class="icon is-medium is-pulled-right"
         data-controller="load-modal"
         data-load-modal-url="<%= new_modal_expense_path(account_id: account.id)%>">
          <a class="tooltip has-text-success" data-action="load-modal#open"
            data-tooltip="Add new expense to the <%= account.name%> account">
            <i class="far fa-plus-square fa-lg"></i>
          </a>
        </span>
        <p>
          <strong><%= link_to account.name, account_expenses_path(account), class: 'has-text-grey-dark' %></strong> <small><%= account.description %></small>
        </p>
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="tags has-addons">
              <span class="tag">spent</span>
              <span class="tag is-info"><%= account.expenses.from_this_month.sum(:amount)%></span>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons">
              <span class="tag">expenses</span>
              <span class="tag is-primary"><%= account.expenses.from_this_month.length %></span>
            </div>
          </div>
          <% if account.users.size > 1 %>
            <div class="control">
              <div class="tags has-addons">
                <span class="tag">next payer</span>
                <span class="tag is-link"><%= who_should_pay_next(account) %></span>
              </div>
            </div>
          <% end %>
        </div>
        <% if account.buckets.any? %>
        <div class="field is-grouped is-grouped-multiline">
            <% account.buckets.each do |bucket| %>
              <% if bucket.set? %>
                <div class="control">
                  <div class="tags has-addons tooltip" data-tooltip="<%= bucket_spent_amount(bucket) %>">
                    <span class="tag"><%= bucket.category.name %></span>
                    <span class="tag <%= bucket_color_class(bucket) %>"><%= bucket_filled(bucket)%></span>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="box is-pulled-right">
    <div class="field is-grouped is-grouped-multiline">
      <div class="control">
        <div class="tags has-addons">
          <span class="tag">spent</span>
          <span class="tag is-info"><%= @my_expenses.from_this_month.sum(:amount)%></span>
        </div>
      </div>
      <div class="control">
        <div class="tags has-addons">
          <span class="tag">expenses</span>
          <span class="tag is-primary"><%= @my_expenses.from_this_month.length %></span>
        </div>
      </div>
    </div>
  </div>
</div>
