<%= form_for @account, data: {controller: "submit", "submit-refreshurl": @refresh_url,
        "submit-refresh": @refresh_id } do |form| %>
  <div class="modal-background" data-action="keydown@window->modal#close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Buckets for the <%= @account.name %> account</p>
      <button class="delete" aria-label="close" data-action="modal#close"></button>
    </header>
    <section class="modal-card-body">
      <%= form.fields_for :buckets do |bucket_form| %>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label"><%= bucket_form.object.category.name %></label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <%= bucket_form.number_field :amount, class: 'input' %>
                <%= bucket_form.hidden_field :category_id, value: bucket_form.object.category.id %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="notification is-danger is-hidden" data-target="submit.error"></div>
    </section>
    <footer class="modal-card-foot">
      <%= form.button "Save changes", class:"button is-link", data: {action: "click->submit#submit", target: 'submit.submit'} %>
      <button class="button" data-action="modal#close">Cancel</button>
    </footer>
  </div>
<% end %>
