<%= form_for expense, data: {controller: "submit", target: "submit.form"} do |f| %>
  <div class="box">
    <div class="field">
      <label class="label">Account</label>
      <div class="control">
        <div class="select">
          <input class="input" value="<% account.name %>" disabled>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Paid by</label>
      <div class="control">
        <div class="select">
          <%= f.collection_select :payer_id, account.users, :id, :name, {selected: current_user.id}, {} %>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Category</label>
      <div class="control">
        <div class="select">
          <%= f.collection_select :payer_id, Category.all, :id, :name, {selected: current_user.id}, {} %>
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Amount</label>
      <div class="control">
        <%= f.number_field :amount, class: 'input' %>
      </div>
    </div>
    <div class="field">
      <label class="label">Date</label>
      <div class="control">
        <%= f.date_field :paid_at, class: 'input' %>
      </div>
    </div>
    <%= f.fields_for :users_expenses do |ff| %>
      <% account.users.each do |account_user| %>
        <%= ff.hidden_field :user_id, value: account_user.id %>
        <div class="field">
          <label class="label"><% account_user.name %></label>
          <div class="control">
            <%= ff.number_field :amount, class: 'input' %>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= f.submit "Add", class:"button is-success", data: {action: "click->submit#submit"} %>
    <a class="button">Cancel</a>
    <div>
      <p class="help is-danger" data-target="submit.error"></p>
    </div>
  </div>
<% end %>
