<div class="container">
  <div class="box">
    <div data-controller="load-modal" data-load-modal-url="<%= new_modal_expense_path(account_id: @account.id)%>">
      <span class="icon is-pulled-right has-text-success">
        <a class="tooltip" data-action="load-modal#open"
          data-tooltip="Add new expense to the <%= @account.name %> account">
          <i class="far fa-plus-square fa-2x"></i>
        </a>
      </span>
    </div>
    <h1 class="is-size-3 has-text-dark">Expenses for <%= @account.name %> (<%= Time.zone.now.strftime('%B %Y')%>)</h1>
    <div class="field is-grouped is-grouped-multiline">
      <div class="control">
        <div class="tags has-addons">
          <span class="tag">spent</span>
          <span class="tag is-info"><%= @expenses.sum(:amount)%></span>
        </div>
      </div>
      <div class="control">
        <div class="tags has-addons">
          <span class="tag">expenses</span>
          <span class="tag is-primary"><%= @expenses.length %></span>
        </div>
      </div>
    </div>
    <hr>
    <table class="table is-hoverable is-fullwidth is-narrow">
      <thead>
        <tr>
          <% if @account.users.size > 1 %>
            <th>Payer</th>
          <% end %>
          <th>Category</th>
          <th>Paid at</th>
          <th>Amount</th>
          <th>Note</th>
          <% if @account.users.size > 1 %>
            <% @account.users.each do |user| %>
              <th><%= user.name %></th>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @expenses.each do |expense| %>
          <tr>
            <% if @account.users.size > 1 %>
              <td><%= expense.payer.name %></td>
            <% end %>
            <td><%= expense.category.name %></td>
            <td><%= expense.paid_at.strftime("%Y-%m-%d") %></td>
            <td><%= expense.amount %></td>
            <td><%= expense.note %></td>
            <% if @account.users.size > 1 %>
              <% expense.users_expenses.each do |users_expense| %>
                <td><%= users_expense.amount %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
