<!DOCTYPE html>
<html>
  <head>
    <title>Little Expense Manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= favicon_link_tag '/favicon.ico' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
